<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<h1 align="center"><b>Customer</b></h1>
<body>

<li><a href="/myapp/user_view_pharma_approved/">Search Medicine</a></li>
<li><a href="/myapp/customer_view_cart/">view cart</a></li>
<li><a href="/myapp/customer_uploads/">Priscription</a></li>
<li><a href="/myapp/customer_view_bill_payment/">Bills & Pyament</a> </li>
{#<li><a href="/myapp/view_order/">Orders & Payment</a> </li>#}
{#<li><a href="/myapp/view_cart/">Bill Entry</a> </li>#}
<li><a href="/myapp/customer_send_complaint_replay">Complaints & Replies</a> </li>
<li><a href="/myapp/customer_view_replay">View Replies</a> </li>
<li><a href="/myapp/customer_send_review/"> Send reviews</a> </li>
<li><a href="/myapp/customer_view_profile/">Profile</a> </li>
<li><a href="/myapp/customer_change_password/">Change Password</a> </li>

</body>
</html>