<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Reveal Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/static/uhome/assets/img/favicon.png" rel="icon">
  <link href="/static/uhome/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/uhome/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/uhome/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/uhome/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/uhome/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/uhome/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/uhome/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Reveal
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">pharmawise@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 9966 1234 55</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="/static/uhome/assets/img/logo.png" alt=""> -->
          <h1 class="sitename">PharmaWise</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">HOME</a></li>
            <li><a href="/myapp/user_view_pharma_approved/#services">PHARMACY</a></li>
            <li><a href="/myapp/customer_view_cart/#services">CART</a></li>
{#            <li><a href="/myapp/customer_view_bill_payment/#services">BILLS</a></li>#}

               <li class="dropdown"><a href="#"><span>BILLS</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="/myapp/customer_view_uploads/#services">VIEW UPLOADS</a></li>
                <li><a href="/myapp/customer_view_bill_payment/#services">VIEW BILLS</a></li>

              </ul>


            <li class="dropdown"><a href="#"><span>COMPLAINTS</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="/myapp/customer_send_complaint_replay/#services">SEND COMPLAINT</a></li>
                <li><a href="/myapp/customer_view_replay/#services">VIEW REPLAIES</a></li>

              </ul>

            </li>
                <li class="dropdown"><a href="#"><span>OTHERS</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                  <li><a href="/myapp/customer_view_notification/#services">NOTIFICATION</a></li>
                 <li><a href="/myapp/customer_send_review/#services">REVIEW</a></li>
                <li><a href="/myapp/customer_view_profile/#services">PROFILE</a></li>
                <li><a href="/myapp/customer_change_password/#services">PASSWORD</a></li>
                  </ul>
                 <li><a href="/myapp/logout/">LOGOUT</a></li>


{#            <li><a href="/myapp/customer_view_profile/">Profile</a></li>#}
{#              <li><a href="/myapp/customer_change_password/">Change Password</a></li>#}
{#              <li><a href="/myapp/logout/">Logout</a></li>#}
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="info d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-8 text-center">
              <h2>Smart Choices for <span>Better</span> Health!</h2>
              <p>PharmaWise suggests a solution that making pharmacy operations and online drug sales smarter and more efficient</p>
              <a href="/myapp/user_view_pharma_approved/#services" class="btn-get-started">Get Started</a>
            </div>
          </div>
        </div>
      </div>

      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="/static/uhome/assets/img/hero-carousel/2.jpg" alt="">
        </div>

        <div class="carousel-item">
          <img src="/static/uhome/assets/img/hero-carousel/phrm4.jpg" alt="">
        </div>

        <div class="carousel-item">
          <img src="/static/uhome/assets/img/hero-carousel/phrm3.jpg" alt="">
        </div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>

    </section><!-- /Hero Section -->


    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>



          {% block body %}

          {% endblock %}

    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/static/uhome/assets/img/clients/glenmark.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/uhome/assets/img/clients/himalaya-logo.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/uhome/assets/img/clients/J&J.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/uhome/assets/img/clients/mankind.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/uhome/assets/img/clients/pfizer.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/uhome/assets/img/clients/sun.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/uhome/assets/img/clients/Bharat.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/static/uhome/assets/img/clients/lupin.jpg" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Clients Section -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-briefcase icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Verified Shops</a></h4>
                <p class="description">PharmaWise admin team, ensuring that only licensed and verified pharmacies are approved. This safeguards the platform’s integrity and ensures compliance with regulations.
</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-card-checklist icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Streamlined Order Processing</a></h4>
                <p class="description">User-friendly dashboard displays all order details, including prescription , medicine selection, and customer information. Orders are processed quickly and accurately, minimizing delays.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-bar-chart icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Prescription Upload</a></h4>
                <p class="description"> PharmaWise includes a that allows pharmacists to verify prescriptions before completing an order. ensures compliance with legal requirements and guarantees patient safety.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-binoculars icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Flexible Payment Options</a></h4>
                <p class="description">Multiple secure payment methods, including credit/debit cards, digital wallets, bank transfers.while pharmacists receive instant payment confirmations.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-brightness-high icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Customer Satisfaction</a></h4>
                <p class="description">customers with a seamless and transparent experience, ensuring operational excellence and customer satisfaction.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Compliance and Safety</a></h4>
                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Clients Section -->

{#    <!-- Portfolio Section -->#}
{#    <section id="portfolio" class="portfolio section">#}
{##}
{#      <!-- Section Title -->#}
{#      <div class="container section-title" data-aos="fade-up">#}
{#        <h2>Portfolio</h2>#}
{#      </div><!-- End Section Title -->#}
{##}
{#      <div class="container">#}
{##}
{#        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">#}
{##}
{#          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">#}
{#            <li data-filter="*" class="filter-active">All</li>#}
{#            <li data-filter=".filter-app">App</li>#}
{#            <li data-filter=".filter-product">Product</li>#}
{#            <li data-filter=".filter-branding">Branding</li>#}
{#            <li data-filter=".filter-books">Books</li>#}
{#          </ul><!-- End Portfolio Filters -->#}
{##}
{#          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">#}
{#              <img src="/static/uhome/assets/img/portfolio/app-1.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>App 1</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/app-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">#}
{#              <img src="/static/uhome/assets/img/portfolio/product-1.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>Product 1</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/product-1.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">#}
{#              <img src="/static/uhome/assets/img/portfolio/branding-1.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>Branding 1</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/branding-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">#}
{#              <img src="/static/uhome/assets/img/portfolio/books-1.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>Books 1</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/books-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">#}
{#              <img src="/static/uhome/assets/img/portfolio/app-2.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>App 2</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/app-2.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">#}
{#              <img src="/static/uhome/assets/img/portfolio/product-2.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>Product 2</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/product-2.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">#}
{#              <img src="/static/uhome/assets/img/portfolio/branding-2.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>Branding 2</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/branding-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">#}
{#              <img src="/static/uhome/assets/img/portfolio/books-2.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>Books 2</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/books-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">#}
{#              <img src="/static/uhome/assets/img/portfolio/app-3.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>App 3</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/app-3.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">#}
{#              <img src="/static/uhome/assets/img/portfolio/product-3.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>Product 3</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/product-3.jpg" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">#}
{#              <img src="/static/uhome/assets/img/portfolio/branding-3.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>Branding 3</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/branding-3.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">#}
{#              <img src="/static/uhome/assets/img/portfolio/books-3.jpg" class="img-fluid" alt="">#}
{#              <div class="portfolio-info">#}
{#                <h4>Books 3</h4>#}
{#                <p>Lorem ipsum, dolor sit amet consectetur</p>#}
{#                <a href="/static/uhome/assets/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>#}
{#                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>#}
{#              </div>#}
{#            </div><!-- End Portfolio Item -->#}
{##}
{#          </div><!-- End Portfolio Container -->#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#    </section><!-- /Portfolio Section -->#}


{#    <!-- Team Section -->#}
{#    <section id="team" class="team section">#}
{##}
{#      <!-- Section Title -->#}
{#      <div class="container section-title" data-aos="fade-up">#}
{#        <h2>Team</h2>#}
{#        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
{#      </div><!-- End Section Title -->#}
{##}
{#      <div class="container">#}
{##}
{#        <div class="row gy-4">#}
{##}
{#          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">#}
{#            <div class="team-member">#}
{#              <div class="member-img">#}
{#                <img src="/static/uhome/assets/img/team/team-1.jpg" class="img-fluid" alt="">#}
{#                <div class="social">#}
{#                  <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                  <a href=""><i class="bi bi-facebook"></i></a>#}
{#                  <a href=""><i class="bi bi-instagram"></i></a>#}
{#                  <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                </div>#}
{#              </div>#}
{#              <div class="member-info">#}
{#                <h4>Walter White</h4>#}
{#                <span>Chief Executive Officer</span>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">#}
{#            <div class="team-member">#}
{#              <div class="member-img">#}
{#                <img src="/static/uhome/assets/img/team/team-2.jpg" class="img-fluid" alt="">#}
{#                <div class="social">#}
{#                  <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                  <a href=""><i class="bi bi-facebook"></i></a>#}
{#                  <a href=""><i class="bi bi-instagram"></i></a>#}
{#                  <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                </div>#}
{#              </div>#}
{#              <div class="member-info">#}
{#                <h4>Sarah Jhonson</h4>#}
{#                <span>Product Manager</span>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">#}
{#            <div class="team-member">#}
{#              <div class="member-img">#}
{#                <img src="/static/uhome/assets/img/team/team-3.jpg" class="img-fluid" alt="">#}
{#                <div class="social">#}
{#                  <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                  <a href=""><i class="bi bi-facebook"></i></a>#}
{#                  <a href=""><i class="bi bi-instagram"></i></a>#}
{#                  <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                </div>#}
{#              </div>#}
{#              <div class="member-info">#}
{#                <h4>William Anderson</h4>#}
{#                <span>CTO</span>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">#}
{#            <div class="team-member">#}
{#              <div class="member-img">#}
{#                <img src="/static/uhome/assets/img/team/team-4.jpg" class="img-fluid" alt="">#}
{#                <div class="social">#}
{#                  <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                  <a href=""><i class="bi bi-facebook"></i></a>#}
{#                  <a href=""><i class="bi bi-instagram"></i></a>#}
{#                  <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                </div>#}
{#              </div>#}
{#              <div class="member-info">#}
{#                <h4>Amanda Jepson</h4>#}
{#                <span>Accountant</span>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#    </section><!-- /Team Section -->#}

    <!-- Contact Section -->
    <section id="contact" class="contact section">

{#      <!-- Section Title -->#}
{#      <div class="container section-title" data-aos="fade-up">#}
{#        <h2>Contact</h2>#}
{#        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
{#      </div><!-- End Section Title -->#}
{##}
{#      <div class="container" data-aos="fade-up" data-aos-delay="100">https://maps.app.goo.gl/YXEWhxNLXjthCqkL6#}
{##}
{#        <div class="mb-4" data-aos="fade-up" data-aos-delay="200">#}
{#          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=YXEWhxNLXjthCqkL6" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>#}
{#        </div><!-- End Google Maps -->#}

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Calicut, Kerala, India 67005</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+91 9966 1234 55</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>pharmawise@gmail.com</p>
              </div>
            </div><!-- End Info Item -->
{##}
          </div>

{#          <div class="col-lg-8">#}
{#            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">#}
{#              <div class="row gy-4">#}
{##}
{#                <div class="col-md-6">#}
{#                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">#}
{#                </div>#}
{##}
{#                <div class="col-md-6 ">#}
{#                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">#}
{#                </div>#}
{##}
{#                <div class="col-md-12">#}
{#                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">#}
{#                </div>#}
{##}
{#                <div class="col-md-12">#}
{#                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>#}
{#                </div>#}
{##}
{#                <div class="col-md-12 text-center">#}
{#                  <div class="loading">Loading</div>#}
{#                  <div class="error-message"></div>#}
{#                  <div class="sent-message">Your message has been sent. Thank you!</div>#}
{##}
{#                  <button type="submit">Send Message</button>#}
{#                </div>#}
{##}
{#              </div>#}
{#            </form>#}
{#          </div><!-- End Contact Form -->#}

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">PharmaWise</h3>
      <p>smart choice for better health!</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">PharmaWise</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">

          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/uhome/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/uhome/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/uhome/assets/vendor/aos/aos.js"></script>
  <script src="/static/uhome/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/uhome/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/uhome/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/uhome/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/uhome/assets/js/main.js"></script>

</body>

</html>