<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<li><a href="/myapp/admin_view_pharma_accept/">Pharmacy & Verify</a></li>
<li><a href="/myapp/admin_view_pharma_approved/">Approved Pharamacy</a></li>
<li><a href="/myapp/admin_view_pharma_rejected/">Rejected Pharamacy</a></li>
<li><a href="/myapp/admin_view_customer/">Customers Data</a></li>
<li><a href="/myapp/admin_view_review">reviews</a> </li>
<li><a href="/myapp/admin_change_password">Change Password</a> </li>
<li><a href="/myapp/admin_view_complaint_replay">Complaints & Reply</a> </li>

</body>
</html>