<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>


<body>
{#<li><a href="/myapp/pharma/shop_reg/">Sign UP</a></li>#}
<li><a href="/myapp/pharma_view_order_update_status/">Orders & Update</a></li>
<li><a href="/myapp/pharma_view_prescription/">Prescription</a> </li>
<li><a href="/myapp/pharma_manage_medicine_add/">Add Medicine</a></li>
<li><a href="/myapp/pharma_manage_medicine_view/">View Medicine</a></li>
{# <li><a href="/myapp/pharma_manage_medicine_edit/">Update Medicine</a></li>#}
{#<li><a href="/myapp/pharma_manage_medicine_delete/">Delete Medicine</a></li>#}
<li><a href="/myapp/pharma_manage_stock_update/">Update Stock</a> </li>
<li><a href="/myapp/pharma_view_bill_entry/">Bills</a> </li>
<li><a href="/myapp/pharma_view_order_payment/">Orders & Payment</a> </li>
<li><a href="/myapp/admin_view_complaint_replay">Complaints & Reply</a> </li>
<li><a href="/myapp/pharma_view_review/">reviews</a> </li>
<li><a href="/myapp/pharma_view_profile/">Profile</a> </li>
<li><a href="/myapp/pharma_change_password/">Change password</a> </li>
</body>
</html>