{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{% extends 'pharma/index.html' %}
{% block body %}
<body>

<form id="form1" name="form1" method="post" action="/myapp/pharma_send_replay_post/" class="p-4 bg-light rounded shadow-sm">
    {% csrf_token %}
    <input type="hidden" name="Sid" value="{{ id }}">

    <div class="form-group mb-3">
        <label for="textarea" class="form-label" style="align-items: center; justify-content: center; display: flex">Send Replay</label>
        <textarea class="form-control" name="textarea" id="textarea" rows="6" placeholder="Type your message here..." required></textarea>
    </div>

    <div class="text-center">
        <button class="btn btn-success" type="submit" name="button" id="button">Send Reply</button>
    </div>
</form>

</body>
{% endblock %}

{#</html>#}
