{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'pharma/index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/admin_viewstock_post/">
    {% csrf_token %}

  <table class="pull-left">
    <tr>

      <th scope="col">search</th>
      <th scope="col"><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></th>
      <th scope="col"><input type="submit" name="button" id="button" value="Search" /></th>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <td width="58">Sl_no</td>
      <td width="70">Product</td>
      <td width="44">quantity</td>
      <td width="104">&nbsp;</td>
      <td width="97"></td>
    </tr>
      {% for i in data %}
        <tr>
      <td>{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.Product.name}}</td>
      <td>&nbsp;{{ i.quantity }}</td>

      <td><a href="/myapp/admin_editstock/{{ i.id }}">Edit</a></td>
      <td><a href="/myapp/admin_delete_stock/{{ i.id }} "onclick="return confirm('Are You Sure?')">delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
{#</html>#}
